NODE_ENV=production
PORT=4000
SITE_URL=https://belga-wood.vercel.app
ADMIN_EMAIL=
ADMIN_PASSWORD_HASH=
SESSION_SECRET=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON_BASE64=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=belga-wood
