[Unit]
Description=Run JAD HOME local backup every day

[Timer]
OnCalendar=*-*-* 02:15:00
RandomizedDelaySec=20m
Persistent=true
Unit=jad-home-backup.service

[Install]
WantedBy=timers.target
